<!DOCTYPE html>
<html>
<head>
    <title>Junior</title>
</head>
<body>
<table border="1">
    <tr><td>Id</td></tr>
    {% for i in dossier %}
        <tr>
            <td>{{i.id}}</td>



        </tr>

    {% endfor %}
</table>
</body>
</html>