{% extends 'admin.html.twig' %}

{% block content %}
    <center><b><a href="{{ path('read_consultation') }}">Afficher les consultations</a></b></center><br>
    <center><b><a href="{{ path('read_enfant') }}">Afficher les enfants</a></b></center><br>
    <center><b><a href="{{ path('read_medecin') }}"><i class="now-ui-icons health_ambulance"></i>Afficher les medecins
            </a></b></center>


{% endblock %}
