{% extends 'admin.html.twig' %}
{% block content %}
    <html>
    <table class="table table-bordered dataTable" id="dataTable" width=="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width:100%;">

        <thead class="thead-dark">

        <tr>
            <th scope="col">Id classe</th>
            <th scope="col">Nomber D'enfant</th>

            <th scope="col">nom Classe</th>




        </tr>
        </thead>
        <tbody>
        {% for i in gra %}
        <tr>
            <th scope="col">{{i.idcl}}</tH>
            <th scope="col">{{ i.nbrenfcl}}</tH>
            <th scope="col">{{ i.nomclasse}}</th>






        </tr>

        </tbody>
        {% endfor %}
        <form>
            Classe: <input type="text" name="classe">

            <input type="submit" value="search">
            <br>
        </form>

    </table>
    </html>

{% endblock %}